@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebedff;
}
.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}
header {
  border-bottom: 1px solid #EAEAEA;
  p {
    color: #9D9D9D;
  }
  span {
    color: #5C5C5C;
  }
}
.cartItem {
  border-radius: 20px;
  border: 1px solid #F3F3F3;
  overflow: hidden;
  padding: 20px;

  button {
      opacity: 0.5;

      &:hover {
          opacity: 1;
      }
  }
}

.cartTotal {
  li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
  }

  div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #DFDFDF;
      position: relative;
      top: -5px;
      margin: 0 7px;
  }

  button {
      img {
          position: absolute;
          right: 25px;
          transition: transform 0.15s ease-in-out;
      }

      &:hover {
          img {
              transform: translateX(5px);
          }
      }
  }
}
.search {
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 0 15px;
  input {
    padding: 6px;
    font-size: 16px;
  }
}
.button_green {
  background: #9DD558;
  height: 50px;
  width: 100%;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;

  &:disabled {
    animation: button-loading 0.6s ease-in-out infinite;
  }

  &:hover {
    background: lighten($color: #9DD558, $amount: 5% );
  }
  &:active {
    background: darken($color: #9DD558, $amount: 5% )
  }
  &:disabled {
    background-color: #d8d8d8;
    cursor: default;
  }
  span {
    margin: auto;
  }
}
.cartEmpty {
  button {
    img {
      position: absolute;
      left: 25px;
      transition: transform 0.15s ease-in-out;
    }
    &:hover {
      img {
        transform: translateX(-5px);
      }
    }
  }
}
@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}